* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./Image/cool-background.png");
}

#imgg {
    height: 300px;
    object-fit: contain;
}

.place__holder__image {
    height: 200px;
    width: 100%;
}

.task__card {
    cursor: pointer;
}

.task__card:hover {
    border: 1px solid #4582ec;
}

#place__holder__image {
    height: 400px;
    width: 100%;
    object-fit: fill;
}